 body {
  background-color: black;
  color:#FEE9E4;
  font-family: 'Playfair Display', serif;
}
h1{
text-align: middle;
color:#65FF55;
}

h2{
	color:#65FF55;
}
h3{
	color:#65FF55;
}

p {
  color:#FEE9E4;
  font-family: Arial, sans-serif;
}

a {
  color: grey;
  border: 2px solid grey;
  padding: 4px;
}

